{
  "extends": "eslint-config-egg",
  "rules": {
    "comma-dangle": ["error", "never"],
    "eqeqeq": 0,
    "no-unreachable": 0,
    "arrow-parens": ["error", "always"],
    "array-bracket-spacing": [2, "never"],
    "one-var-declaration-per-line": 0
  }
}
